.logo{
	padding: 10px;
}
.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
}
.light-blue {
    background-color: #03a9f4 !important;
}
.top-menu{
	padding: 5px;
	color: #fff;
}
nav {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px !important;
  line-height: 50px !important;
  margin-bottom: 0px;
}
.berita{
	text-align: center;
	font-size: 24px
}
.slider{
	margin-top: 0px;
}
.footer{
	margin-top: 20px;
	margin-bottom: 20px;
}