.logo{
	padding: 20px;
}
.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
}
.light-blue {
    background-color: #03a9f4 !important;
}
.top-menu{
	padding: 3px;
}
nav {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px !important;
  line-height: 50px !important;
  border-radius: 5px;
}